body{
background-color: #ececee;
font-family: 'Roboto', sans-serif;
}

a {
font-size: 16px;
list-style-type: none;
color: black;
}

/* homepage */
.container{
display: flex;
width: 1024px;
background: #eFeFeF;
margin: auto;
flex-direction: column;
align-items: center;
}

/* Banner */
.header{
display: flex;
flex-direction: row;
width: 100%;
height: 550px;
margin: 30px 0;
padding: 30px 0;
}

.h_logo{
    display: flex;
    justify-content: center;
}

.h_foto img {
width: 400px;
}

.a_foto{
display: flex;
justify-content: center;
width: 50%;
margin-right:50px;
text-shadow: 0px 2px 3px #292929;
}

.a_foto img{
width: 400px;
}

.a_texto{
width: 50%;
height: 100px;
padding-top: 150px;
font-size: 20px;

}
.a_h{
text-align: right;
width: 50%;
}

.a_h h1{
text-shadow: 0px 2px 3px #292929;
font-size: 36px;
letter-spacing: 2px;
margin-bottom: 10px;
}

.menu {
width: 100%;
display: flex;
flex-direction: row;
justify-content: right;
}
.h_menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu_text{
width: 100%;
display: flex;
flex-direction: row;
justify-content: right;
vertical-align: middle;
}

.menu div{
margin: 20px 20px;
}

.a_text{
width: 110px;
text-align: center;
}

.s_logo{
    width: 50%;
    flex-direction: row;
    justify-content: left;
    padding-top: 10px;
}

.menu a{
text-decoration: none;
list-style-type: none;
text-shadow: 0px 2px 3px #808080;
}

.h_menu a{
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    text-shadow: 0px 2px 3px #808080;
    }

.obj {
width: 400px;
display: flex;
flex-direction: column;
align-items: center;
margin: 40px 0;
}

.obj p{
font-size: 18px;
text-align: justify;
line-height: 1.5;
}

.obj h2{
text-shadow: 0px 2px 3px #808080;
font-size: 30px;
}

.comp{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
margin: 40px 0;
}

.comp h2{
text-shadow: 0px 2px 3px #808080;
font-size: 30px;
}

.itens{
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-end;
justify-content: space-evenly;
margin: 18px 0;
}

.item{
flex: 30%;
display: flex;
flex-direction: column;
align-items: center;
margin: 10px;
}

.logo img{
width: 100px;
}

.e_itens{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
margin: 18px 0 60px 0;
}

.e_item{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}

.e_logo{
    width: 200px;
}

.fix{
    padding-left: 100px;
}

.e_logo img{
width: 200px;
}

.e_text{
width: 400px;
margin-left: 100px;
}

.i_logo img{
width: 100px;
}

.prj p{
text-shadow: 0px 2px 3px #808080;
font-size: 30px;
}

.prj img{
width: 150px;
}

.p_itens{
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
margin: 18px 0 60px 0;
}

.p_obj{
width: 1000px;
display: flex;
flex-direction: column;
align-items: center;
margin: 40px 0;
}

.p_obj h2{
text-shadow: 0px 2px 3px #808080;
font-size: 30px;
}